

th{
    text-align: center;
}

.cart_img-box{
    width: 80px;
}

.cart_img-box img{
    width: 100%;
}

.cart_item-del i{
    cursor: pointer;
}

.cart_page-btn button a:hover{
    color: #fff;
}

.cart_subtotal{
    color: #f3a50a;
    font-size: 1.5rem;
}

@media only screen and (max-width: 768px){
    th,
    td{
        font-size: 0.8rem;
    }
}