
.cart_item-info img{
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.cart_product-title{
    font-size: 0.8rem;
    font-weight: 600;
}

.cart_product-price{
    font-size: 0.8rem;
}

.cart_product-price span{
    font-size: 0.9rem;
    font-weight: 600;
    color: #f3a50a;
}

.increase_decrease-btn{
    background: #f3a50a9a;
    padding: 2px 5px;
    border-radius: 5px;
}

.increase_btn, .decrease_btn{
    cursor: pointer;
}

delete_btn{
    font-size: 1.1rem;
    font-weight: 600;
}

.cart_item{
    padding-bottom: 10px;
    border-bottom: 1px solid #f3a50a9a;
}
