

.checkout_bill{
    background: #f3a50a9a;
    padding: 30px;
}

.checkout_total{
    border-top: 1px solid #ddd;
    padding-top: 30px;
}

@media only screen and (max-width: 768px) {
    .checkout_bill h6{
        font-size: 0.9rem;
    }

    .checkout_bill{
        margin-top: 40px;
    }
    
}