.footer{
    padding-top: 50px;
    padding-bottom: 30px;
    background: #f3a50a9a;
}

.footer_logo img{
    width: calc(100% - 80%);
    margin-bottom: 5px;
}

.footer_logo h5{
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 15px;
}

.footer_logo p{
    font-size: 0.9rem;
    color: #333;
    line-height: 28px;
}

.delivery_time-item{
    background: transparent !important;
}

.delivery_time-item{
    font-weight: 600;
    font-size: 1rem;
    color: #212245;
}

.delivery_time-item p{
    color: #212245;
}

.footer_title{
    font-size: 1.1rem;
    color: #212245;
    font-weight: 600;
}

.newsletter{
    padding: 5px;
    border: 1px solid #212245;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.newsletter input{
    background: transparent;
    border: none;
    outline: none;
}

.newsletter input:focus{
    outline: none;
}

.newsletter span{
    background: #f3a50a;
    padding: 5px 20px;
    border-radius: 5px;
}

.newsletter span i{
    color: #fff;
}

.newsletter input::placeholder{
    color: #212245;
}

.social_links span i{
    padding: 5px;
    background: #f3a50a;
    color: #fff;
    border-radius: 50px;
}

.copyright_text{
    font-size: 0.8rem;
    color: #f3a50a;
}