

.single_product-content{
    padding-left: 50px;
}

.product_price{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 0;
}

.product_price span{
    font-size: 2rem;
}

.category{
    font-weight: 600;
    color: #212245;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-top: 10px;
}

.category span{
    padding: 5px 10px;
    background: #f3a50a9a;
    color: #212245;
    border-radius: 5px;
}

.tabs{
    border-bottom: 1px solid #f3a50a9a;
}

.tabs h6{
    cursor: pointer;
}

.tab_content{
    padding: 30px 0px;
}

.tab_content p{
    line-height: 30px;
    color: #212245b6;
}

.tab_active{
    color: #f3a50a;
}

.form{
    width: 60%;
    margin: auto;
    background: #f3a50a9a;
    padding: 20px;
    border-radius: 5px;
}

.form_group{
    margin-bottom: 30px;
}

.form_group input,
.form_group textarea{
    width: 100%;
    background: transparent;
    padding: 7px 20px;
    border: none;
    border-bottom:1px solid #2122454c;
}

.form_group input:focus,
.form_group textarea:focus{
    outline: none;
}

.user_name{
    font-weight: 600;
    color: #212245;
}

.user_email{
    font-size: 0.8rem;
}

.feedback_text{
    color: #212245b6;
}

.img_item{
    cursor: pointer;
}

.related_Product-title{
    font-size: 1.4rem;
}

@media only screen and (max-width:768px) {
    .product_title{
        font-size: 1.2rem;
    }

    .product_price,
    .product_price span
    {
        font-size: 1rem;
    }

    .category,
    .category span{
        font-size: 0.8rem !important;
    }

    .tabs{
        margin-top: 30px;
    }

    .tabs h6{
        font-size: 0.9rem;
    }

    .tab_content p,
    .user_name,
    .feedback_text{
        font-size: 0.8rem;
    }

    .user_email{
        font-size: 0.7rem;
    }

    .form{
        width: 100% !important;
        margin-top: 50px;
    }

    .form_group input::placeholder,
    .form_group textarea::placeholder{
        font-size: 0.8rem;
    }

    .related_Product-title{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width:576px){
    .product_images{
        display: flex;
        flex-direction: row;
    }

    .product_main-img{
        margin-bottom: 20px;
    }
}